<!-- FOOTER -->
<footer>
  <div class="accreditations">
    <div class="container">
      <div class="row">
        <div
          class="accr-content d-flex flex-column justify-content-center align-items-center p-5"
        >
          <h3 class="text-center p-5">ACCREDITATIONS</h3>

          <!-- CAROUSEL -->
          <div class="container text-center my-3">
            <div class="row mx-auto my-auto justify-content-center">
              <div
                id="accrCarousel"
                class="carousel slide"
                data-bs-ride="carousel"
              >
                <div class="carousel-inner" role="listbox">
                  <div
                    class="carousel-item active align-items-center justify-content-center"
                  >
                    <div class="col-md-3">
                      <div class="card">
                        <div class="card-img">
                          <img
                            src="/images/footer/gafta.png"
                            class="img-fluid col-md-8"
                          />
                        </div>
                        <div class="card-img-overlay"></div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="carousel-item align-items-center justify-content-center"
                  >
                    <div class="col-md-3">
                      <div class="card">
                        <div class="card-img">
                          <img
                            src="/images/footer/off.png"
                            class="img-fluid col-md-3"
                          />
                        </div>
                        <div class="card-img-overlay"></div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="carousel-item align-items-center justify-content-center"
                  >
                    <div class="col-md-3">
                      <div class="card">
                        <div class="card-img">
                          <img
                            src="/images/footer/gafta-pledge.png"
                            class="img-fluid col-md-4"
                          />
                        </div>
                        <div class="card-img-overlay"></div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="carousel-item align-items-center justify-content-center"
                  >
                    <div class="col-md-3">
                      <div class="card">
                        <div class="card-img">
                          <img
                            src="/images/footer/cfp.png"
                            class="img-fluid col-md-8"
                          />
                        </div>
                        <div class="card-img-overlay"></div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="carousel-item align-items-center justify-content-center"
                  >
                    <div class="col-md-3">
                      <div class="card">
                        <div class="card-img">
                          <img
                            src="/images/footer/sedex.png"
                            class="img-fluid col-md-5"
                          />
                        </div>
                        <div class="card-img-overlay"></div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="carousel-item align-items-center justify-content-center"
                  >
                    <div class="col-md-3">
                      <div class="card">
                        <div class="card-img">
                          <img
                            src="/images/footer/efisc.png"
                            class="img-fluid col-md-10"
                          />
                        </div>
                        <div class="card-img-overlay"></div>
                      </div>
                    </div>
                  </div>
                </div>

                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#accrCarousel"
                  data-bs-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon me-5 bg-dark-subtle rounded-3"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#accrCarousel"
                  data-bs-slide="next"
                >
                  <span
                    class="carousel-control-next-icon ms-5 bg-dark-subtle rounded-3"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
          <!-- CAROUSEL ENDS -->
        </div>
      </div>
    </div>
  </div>

  <div class="map mt-5">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2479.355977570622!2d-0.34187116721190464!3d51.580038894611484!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761372f8e6e445%3A0x94114121fb992701!2sFeed%20Factors%20Ltd!5e0!3m2!1sen!2suk!4v1680613191290!5m2!1sen!2suk"
      style="border: 0; min-height: 270px; width: 100%"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>

  <div class="footer-content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="footer-wrapper col-md-9">
          <div class="footer-info col-md-5 p-4 mb-4">
            <div class="info-content">
              <img
                src="/images/footer/footer-logo.png"
                alt=""
                class="footer-logo col-8 col-md-7 my-4 mb-5"
              />

              <div class="trading mb-3">
                <p>
                  <span class="gold">Trading Number:</span> +44 (0) 208 332 1550
                </p>
                <p>
                  <span class="gold">Trading email:</span>
                  trading@feedfactors.com
                </p>
              </div>
              <div class="admin">
                <p>
                  <span class="gold">Admin Number:</span> +44 (0) 208 332 1992
                </p>
                <p>
                  <span class="gold">Admin email:</span>
                  admin@feedfactors.com
                </p>
              </div>
            </div>
          </div>

          <div class="products-contact col-md-6 p-4 mt-5">
            <div class="row">
              <div class="products-contact-info col-md-6">
                <h5>PRODUCTS</h5>
                <a href="/organic">Organic</a>
                <a href="/petfood">Pet Food</a>
                <a href="/animalfeed">Non GM and Animal Feed</a>
                <a href="/ports">Ports and Storage</a>
              </div>
              <div class="products-contact-info col-md-6 mt-5 mt-md-0">
                <h5>CONTACT US</h5>
                <p>
                  Feed Factors Ltd, <br />
                  The Gallery, Whittaker Avenue, <br />
                  Richmond, TW9 1EH
                </p>

                <p><span>Tel:</span> <u>+44 (0) 208 332 1550</u></p>
                <p><span>Email:</span> trading@feedfactors.com</p>
              </div>
            </div>
          </div>

          <div class="socials col-4 col-md-1 mt-5">
            <a
              href="https://uk.linkedin.com/company/feed-factors-limited?original_referer=https%3A%2F%2Fwww.google.com%2F"
              ><img
                src="/images/footer/linkedin-logo.png"
                class="linkedin col-3"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-line p-4">
    <div class="container d-flex align-items-center justify-content-around">
      <div class="row justify-content-center col-md-8">
        <div
          class="col-md-2 line-links d-flex align-items-center justify-content-center"
        >
          <a href="/cookieconsent">Cookie Consent</a>
        </div>
        <div
          class="col-md-2 line-links d-flex align-items-center justify-content-center"
        >
          <a href="/privacy">Privacy</a>
        </div>
        <div
          class="col-md-2 line-links d-flex align-items-center justify-content-center"
        >
          <a href="/termsofuse">Terms of use</a>
        </div>
        <div
          class="col-md-2 line-links d-flex align-items-center justify-content-center"
        >
          <a href="/sustainability">Sustainability</a>
        </div>
        <div
          class="col-md-2 line-links d-flex align-items-center justify-content-center"
        >
          <a href="/humanrights">Human rights</a>
        </div>
        <div
          class="col-md-2 line-links d-flex align-items-center justify-content-center"
        >
          <a href="/pdf/tax-strategy.pdf" target="_blank">Tax strategy</a>
        </div>
      </div>
    </div>
  </div>
</footer>
