<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <div>
      <%- include('../partials/header') %>

      <div class="container-fluid mt-5 d-flex justify-content-center lh-lg">
        <div class="row col-12 col-md-8">
          <h1 class="fw-normal col-12 col-md-8 mb-5">AWARDS AND ACCOLADES</h1>

          <p class="mb-5">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto
            pariatur aperiam blanditiis nam iure dolores libero amet qui nemo
            beatae? Pariatur, rem. Dolorem pariatur minus explicabo eveniet,
            amet cupiditate vitae. Iusto ipsam mollitia ex soluta dicta dolore
            autem unde vel, rerum exercitationem molestiae in corporis deserunt
            saepe maxime temporibus quis magni doloremque necessitatibus cum
            tempore est. Distinctio molestiae optio illum?
          </p>
        </div>
      </div>

      <div class="awards container">
        <div class="row justify-content-center align-items-center">
          <div class="card col-md-4 p-5">
            <img
              src="/images/awards/qa-sustainable.png"
              class="card-img p-2"
              alt=""
            />
            <div class="card-img-overlay"></div>
          </div>
          <div class="card col-md-4 p-5">
            <img
              src="/images/awards/qa-innovation.png"
              class="card-img p-2"
              alt=""
            />
            <div class="card-img-overlay"></div>
          </div>
          <div class="card col-md-4 p-5">
            <img src="/images/awards/wlb.png" class="card-img p-4" alt="" />
            <div class="card-img-overlay"></div>
          </div>
          <div class="card col-md-4 p-5">
            <img
              src="/images/awards/healthyworkplace.png"
              class="card-img p-2"
              alt=""
            />
            <div class="card-img-overlay"></div>
          </div>
          <div class="card col-md-4 p-5">
            <img src="/images/awards/lwf.png" class="card-img" alt="" />
            <div class="card-img-overlay"></div>
          </div>
        </div>
      </div>

      <%- include('../partials/footer') %>
    </div>
    <%- include('../partials/scripts') %>
  </body>
</html>
